<div style="text-align: center;height:500px;width:500px;margin-left:500px;
margin-top:60px;border:2px solid black;box-shadow:10px 10px 5px darkblue;">
   
    <h1>Sign Up</h1>
    
    <form action="/users/create" method="POST">
     <div >
        <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="text" name="name" placeholder="Your Name" required>
        </div>
        <div>
        <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="email" name="email" placeholder="Your Email" required>
        </div>
        <div >
        <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="password" name="password" placeholder="Password" required>
        </div>
        <div >
        <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        <div >
        <input style="color: white;width: 120px;border-radius: 6px;height: 50px;background-color: #1877f2;
        border: none;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;margin-top: 20px;" type="submit" value="Sign Up">
        </div>
        </div>

    </form>
    
  